.App {

  


}
.maingame {
  padding-left: 32px;
}
html, body {margin: 0; height: 100%; }

#loginbox {
  width: 400px;
  height: 30px;
  padding-left: 12px;
}

#loginheader {
  font-size:100px;
  color: #131313;
}

#opponentheader {
  font-size:50px;
  color: #343f56;
}

#final {
  font-size:4vh;
  color: #343f56;padding-left: 2vh;
}

.footer {
  font-size:1.5vh;
  color: #343f56;
  left: 0;
  bottom: 10;
  
  background-color: #F54748;
  color: white;
  text-align: center;
}

.loginbutton {
  position: relative;
  background-color: #f54748;
  border: none;
  font-size: 15px;
  color: white;
  font-weight: bold;
  padding: 12px;
  width: 100px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.loginbutton:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.loginbutton:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

#loginerror {
  color:#f54748;
  font-size:15px;
}

@media screen and (max-width: 1080px) {
  #loginbox {
    width: 200px;
    height: 30px;
    padding-left: 12px;
  }
}