body {
    background-color: white;
  }
  
  .grid {
    background-color: rgba(0,0,0,.2);
    margin: 50px auto;
    vertical-align: center;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 17px 50px;
  }
  
  
  .space {
    background-color: white;
    transition: background-color .5s;  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .space:hover {
    background-color: rgba(0,0,0,0);
    transition: background-color .5s;
    cursor: pointer;
  }
  
  .x, .o {
   font-family: 'arial';
   font-size: 70px;
   position: absolute;
  }
  
  .x {
    color: tomato;
  }
  
  .o {
    color: #33DBFF;
  }
  
  .header {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: tomato;
    text-align: center;
    margin-top: 50px;
  }
  
  .reset {
    font-size: 20px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-family: 'Montserrat', sans-serif;
    color: tomato;
    background-color: white;
    border: 1px solid tomato;
    padding: 5px;
    transition: border, color, .5s;
  }
  
  .reset:hover {
    cursor: pointer;
    color: #33DBFF;
    border: 1px solid #33DBFF;
    transition: border, color, .5s;
  }
  
  .reset:focus {
    outline: none;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  .game {
    margin-left: 225px;
  }

  #lolol {
    overflow: hidden;
  }
  .plane {
    height: 50vh;
    position: absolute;
    opacity: 0.5;
    z-index: -3;
    padding-top: 50vh;
  }

  .p1, .p2 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
  }
  
  .p1 {
    color: black;
    margin-left: 20px;
  }
  
  .p2 {
    color: #33DBFF;
    margin-right: 20px;
  }
  
  .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  section {
    height: 100vh;
    color: white;
    scroll-snap-align: start;
    background-color: white; 
    
  }

  .container {
      scroll-snap-type: y mandatory;
      overflow-y: scroll;
      height: 100vh;
  }
  .one {
    padding-top: 7vh;
  }
  .two {
    background-color: white ;
    padding-top: 7vh;
  }

  .three {
    background-color: white;
    padding-top: 7vh;
    padding-left: 2vh;
  }
  #logonheader {
    font-size:100px;
    color: #131313;
  }
  #despheader {
    font-size:50px;
    color: #343f56;
  }
  #text {
    color: #F58634;font-size: 2vh;
  }
  #var {
    color: #BECA5C;
  }
  #gt {
    color: #7ECA9C;
  }

  .logonbutton {
    position: relative;
    background-color: #FFEAC9;
    border: none;
    font-size: 15px;
    color: #343f56;
    font-weight: bold;
    padding: 12px;
    width: 100px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .logonbutton:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .logonbutton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }